Package: com.local.filzaescaped
Name: Zentrax VIP
Version: 1.0.1
Architecture: iphoneos-arm
Depends: mobilesubstrate
Description: Zentrax VIP
Maintainer: Zentrax Team
Author: Zentrax Team
Section: Utilities